<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ block 'title'}}Template{{/block}}</title>
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="shortcut icon" type="image/x-icon" href="/public/img/favicon.ico">
  {{block 'style'}} {{/block}}
</head>
<body>
  {{block 'body'}}
    <!-- 模板页 -->
  {{/block}}
  
  {{include '../_partials/footer.html'}}
  <script src="/node_modules/jquery/dist/jquery.min.js"></script>
  <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  {{block 'script'}}{{/block}}
</body>
</html>